@model IEnumerable<OnTX2_1.Models.HangSanXuat>

@{
    ViewBag.Title = "Thống kê";
}

<h2>Thống kê</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenHang)
        </th>
        <th>
            Số lượng sản phẩm
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenHang)
        </td>
        <td>
            @item.SanPhams.Count
        </td>
    </tr>
}

</table>
